WF_Uppg_1/Service References/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.bff.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.bff.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.bff.com/">
      <s:element name="Exists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TxtFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TxtFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TxtFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomers">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetReservations">
        <s:complexType />
      </s:element>
      <s:element name="GetReservationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReservationsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExistsSoapIn">
    <wsdl:part name="parameters" element="tns:Exists" />
  </wsdl:message>
  <wsdl:message name="ExistsSoapOut">
    <wsdl:part name="parameters" element="tns:ExistsResponse" />
  </wsdl:message>
  <wsdl:message name="TxtFileSoapIn">
    <wsdl:part name="parameters" element="tns:TxtFile" />
  </wsdl:message>
  <wsdl:message name="TxtFileSoapOut">
    <wsdl:part name="parameters" element="tns:TxtFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="GetReservationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetReservations" />
  </wsdl:message>
  <wsdl:message name="GetReservationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetReservationsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Exists">
      <wsdl:input message="tns:ExistsSoapIn" />
      <wsdl:output message="tns:ExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TxtFile">
      <wsdl:input message="tns:TxtFileSoapIn" />
      <wsdl:output message="tns:TxtFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input message="tns:GetCustomersSoapIn" />
      <wsdl:output message="tns:GetCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <wsdl:input message="tns:GetReservationsSoapIn" />
      <wsdl:output message="tns:GetReservationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Exists">
      <soap:operation soapAction="http://www.bff.com/Exists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TxtFile">
      <soap:operation soapAction="http://www.bff.com/TxtFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://www.bff.com/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <soap:operation soapAction="http://www.bff.com/GetReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Exists">
      <soap12:operation soapAction="http://www.bff.com/Exists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TxtFile">
      <soap12:operation soapAction="http://www.bff.com/TxtFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap12:operation soapAction="http://www.bff.com/GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <soap12:operation soapAction="http://www.bff.com/GetReservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:52597/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:52597/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>